
body {
    background-color: white;
    color: black;
  }
  
  html.dark {
    background-color: #1a1a1a;
    color: #ffffff;
  }
  
  button {
    background-color: #e5e5e5;
  }
  
  button.dark {
    background-color: #333333;
    color: white;
  }
  